{{! Sheet Character Header }}
<div>
  <header class='sheet-header'>
    <div class="edit-mode">
      <label class="switch edit-mode-toggle"
        title="{{localize (ifThen isEditMode 'SDM.SheetPlayMode' 'SDM.SheetEditMode')}}">
        <input type="checkbox" {{checked isEditMode}} data-action="toggleMode">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="flexcol flex-between flex-center">
      <img class='profile-img' src='{{actor.img}}' data-edit='img' data-action='onEditImage' title='{{actor.name}}'
        height='100' width='100' />
      {{#if isEditMode}}
      <div class="flexcol flex-group-center margin-bottom-10">
        {{else}}
        <div class="flexcol flex-group-center margin-bottom-10 rollable" data-context='rollable'
          data-action='heroicHealing'>
          {{/if}}
          <label class='resource-label'>{{localize 'SDM.FieldHeroDice'}}</label>
          <div class='resource-content flexrow height-32'>
            {{system.hero_dice.value}} / {{system.hero_dice.max}}
            <i class="fas fa-dice-{{@root.heroDiceType}} sheet-hero-dice" title="{{@root.heroDiceType}}"></i>
          </div>
        </div>
      </div>
      <div class='header-fields'>
        {{!-- <div class='document-name'> --}}
          <div class="grid grid-4col">
            <div class="grid-span-1">
              <label for="name" class='resource-label'>
                {{localize 'SDM.FieldName'}}
              </label>
              <input name='name' type='text' value='{{actor.name}}' placeholder='Name' />
            </div>

            <div class='resource'>
              <label class='resource-label'>
                {{localize 'SDM.FieldSpecies'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.species' value='{{system.species}}' />
              </div>
            </div>

            <div class='resource'>
              <label class='resource-label'>
                {{localize 'SDM.FieldLooks'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.looks' value='{{system.looks}}' />
              </div>
            </div>

            <div class='resource'>
              <label for="system.likes" class='resource-label'>
                {{localize 'SDM.FieldLikes'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.likes' value='{{system.likes}}' />
              </div>
            </div>
          </div>
          {{!--
        </div> --}}
        {{! The grid classes are defined in scss/global/_grid.scss. To use,
        use both the "grid" and "grid-Ncol" class where "N" can be any number
        from 1 to 12 and will create that number of columns. }}
        <div class='resources grid grid-4col'>

          {{! "flex-group-center" is also defined in the _grid.scss file
          and it will add a small amount of padding, a border, and will
          center all of its child elements content and text. }}
          <div class='resource'>
            {{#if @root.isEditMode}}
            <label for='system.life.max' class='resource-label flex-start'>
              {{localize 'SDM.FieldLifeMax'}}
            </label>
            <div class='resource-content flexrow flex-center flex-between flex-group-center'>
              <input type='text' name='system.life.value' value='{{system.life.value}}' data-dtype='Number' />
              <span> / </span>
              <input type='text' name='system.life.base' value='{{system.life.base}}' data-dtype='Number' disabled />
            </div>
            {{else}}
            <label for='system.life.max' class='resource-label flex-start'>
              {{localize 'SDM.FieldLifeMax'}}
            </label>
            <div class='resource-content flexrow flex-center flex-between flex-group-center'>
              <input type='text' name='system.life.value' value='{{system.life.value}}' />
              <span> / </span>
              <input type='text' name='system.life.max' value='{{system.life.max}}' disabled />
            </div>
            {{/if}}
          </div>

          <div class="grid-span-1 flexrow flex-between">
            <div class="grid-span-1 resource">
              <label for="system.player_experience" class='resource-label'>
                {{localize 'SDM.FieldPlayerXP'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                {{#if isGM}}
                <input type='text' name='system.player_experience' value='{{system.player_experience}}' />
                {{else}}
                <input type='text' name='system.player_experience' value='{{system.player_experience}}' disabled />
                {{/if}}
              </div>
            </div>
            <div class="grid-span-1 resource">
              <label for="system.experience" class='resource-label'>
                {{localize 'SDM.FieldCharXP'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                {{#if isGM}}
                <input type='text' name='system.experience' value='{{system.experience}}' />
                {{else}}
                <input type='text' name='system.experience' value='{{system.experience}}' disabled />
                {{/if}}
              </div>
            </div>
          </div>

          <div class='resource'>
            <label for="system.friends" class='resource-label'>
              {{localize 'SDM.FieldFriends'}}
            </label>
            <div class='resource-content flexrow flex-center flex-between'>
              <input type='text' name='system.friends' value='{{system.friends}}' />
            </div>
          </div>

          <div class='resource'>
            <label for="system.foes" class='resource-label'>
              {{localize 'SDM.FieldFoes'}}
            </label>
            <div class='resource-content flexrow flex-center flex-between'>
              <input type='text' name='system.foes' value='{{system.foes}}' />
            </div>
          </div>

          <div class='resource flexcol'>
            <div class="flexrow">
              <label for="system.defense" class='resource-label'>
                {{localize 'SDM.FieldDefense'}}
              </label>
            </div>
            <div class='resource-content flexrow align-center height-32'>
              <div title="{{localize 'SDM.FieldPhysicalDefense'}}">
                <i class="fas fa-shield-alt"></i>
                <span id="system.defense">{{system.defense}}</span>
              </div>
              <div title="{{localize 'SDM.FieldMentalDefense'}}">
                <i class="fas fa-brain-circuit"></i>
                <span id="system.mental_defense">{{system.mental_defense}}</span>
              </div>
              <div title="{{localize 'SDM.FieldSocialDefense'}}">
                <i class="fas fa-crown"></i>
                <span id="system.social_defense">{{system.social_defense}}</span>
              </div>
            </div>
          </div>

          <div class="grid-span-1 flexrow flex-between">
            <div class='grid-span-1 resource'>
              <label for="system.save_target" class='resource-label'>
                {{localize 'SDM.FieldSaveTarget'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.save_target' value='{{system.save_target}}' data-dtype='Number' {{#if
                  (not @root.isEditMode)}} disabled {{/if}} />
              </div>
            </div>
            <div class="grid-span-1 resource">
              <label for="system.level" class='resource-label'>
                {{localize 'SDM.FieldLevel'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.level' value='{{system.level}}' data-dtype='Number' disabled />
              </div>
            </div>
          </div>

          <div class="grid-span-1 flexrow flex-between">
            <div class="grid-span-1 resource">
              <label for="system.revenue" class='resource-label'>
                {{localize 'SDM.FieldRevenue'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.revenue' value='{{system.revenue}}' data-dtype='Number' />
              </div>
            </div>
            <div class="grid-span-1 resource">
              <label for="system.expense" class='resource-label'>
                {{localize 'SDM.FieldExpense'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.expense' value='{{system.expense}}' data-dtype='Number' />
              </div>
            </div>
          </div>

          <div class="grid-span-1 flexrow flex-between">
            <div class="grid-span-1 resource">
              <label for="system.wealth" class='resource-label'>
                {{localize 'SDM.FieldWealth'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.wealth' value='{{system.wealth}}' data-dtype='Number' />
              </div>
            </div>
            <div class="grid-span-1 resource">
              <label for="system.debt" class='resource-label'>
                {{localize 'SDM.FieldDebt'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.debt' value='{{system.debt}}' data-dtype='Number' />
              </div>
            </div>
          </div>
        </div>
      </div>
  </header>
  <header class=''>
    <div class="main flexrow flex-group-center">
      <div class='resources grid grid-5col'>
        {{!-- <div class='abilities flexcol'> --}}
          <div class='resources grid grid-3col'>
            {{#each system.abilities as |ability key|}}
            <div class="main grid-span-1">
              {{#if @root.isEditMode}}
              <div class='ability flexrow flex-group-center'>
                <span class='resource-label' data-label='{{localize (lookup @root.config.abilities key)}}'
                  title='{{localize (lookup @root.config.abilities key)}}'>
                  {{toUpperCase (localize (lookup @root.config.abilityAbbreviations key))}}
                </span>
                <input type='text' name='system.abilities.{{key}}.base' value='{{ability.base}}'
                  class="ability-score ability-full" data-dtype='Number'
                  title="{{localize 'SDM.AbilityFull' ability=(localize (lookup @root.config.abilities key))}}" />
                <input type='text' name='system.abilities.{{key}}.current' value='{{ability.current}}'
                  class="ability-score" data-dtype='Number'
                  title="{{localize 'SDM.AbilityCurrent' ability=(localize (lookup @root.config.abilities key))}}" />
                <div class='flexrow'>
                  <i class="fas {{lookup @root.config.abilitySaveIcons key}} saveIcon"></i>
                </div>
              </div>
              {{else}}
              <div class='ability flexrow flex-group-center'>
                <div class="flexcol">
                  <span class='resource-label rollable' data-action='roll' data-context='rollable'
                    data-ability="{{key}}" data-type="ability"
                    data-label='{{localize (lookup @root.config.abilities key)}}'
                    title='{{localize (lookup @root.config.abilities key)}}'>
                    {{toUpperCase (localize (lookup @root.config.abilityAbbreviations key))}}
                  </span>
                  {{#if (eq key 'cha')}}<i class="fas fa-users rollable" title="Reaction Roll"></i>{{/if}}
                </div>


                <input type='text' name='system.abilities.{{key}}.full' value='{{ability.full}}'
                  class="ability-score ability-full" data-dtype='Number'
                  title="{{localize 'SDM.AbilityFull' ability=(localize (lookup @root.config.abilities key))}}&#10;{{
                  localize 'SDM.AbilityBase'}} = {{ability.base}}&#10;{{localize 'SDM.AbilityBonus'}} = {{ability.bonus}}" disabled />
                <input type='text' name='system.abilities.{{key}}.current' value='{{ability.current}}'
                  class="ability-score" data-dtype='Number'
                  title="{{localize 'SDM.AbilityCurrent' ability=(localize (lookup @root.config.abilities key))}}" />
                <div class='rollable flexrow' data-roll-type={{key}} data-action='rollSavingThrow'
                  title="{{localize 'SDM.SavingThrowRoll' ability=(localize (lookup @root.config.abilities key))}}">
                  <i class="fas {{lookup @root.config.abilitySaveIcons key}} saveIcon"></i>
                </div>
              </div>
              {{/if}}
            </div>
            {{/each}}
            {{#if @root.isEditMode}}
            <div class="main grid-span-1"></div>
            <div class="main grid-span-1"></div>
            <div class="main grid-span-1"></div>
            {{/if}}
          </div>
          {{#if @root.isEditMode}}
          <div class='resources grid grid-2col'>
            <div class="ability grid-span-1 flexcol align-center">
              <div class='resource-label'>
                <div>{{localize 'SDM.AttackMelee'}}</div>
              </div>
              <i class="fas fa-gear rollable" data-action='updateAttack' data-attack="melee"></i>
            </div>
            <div class="ability grid-span-1 flexcol align-center">
              <div class='resource-label'>
                <div>{{localize 'SDM.AttackRanged'}}</div>
              </div>
              <i class="fas fa-gear rollable" data-action='updateAttack' data-attack="ranged"></i>
            </div>
            <div class="ability grid-span-1 flexcol align-center">
              <div class='resource-label'>
                <div>{{localize 'SDM.AttackFantascience'}}</div>
              </div>
              <i class="fas fa-gear rollable" data-action='updateAttack' data-attack="fantascience"></i>
            </div>
            <div class="ability grid-span-1 flexcol align-center">
              <div class='resource-label'>
                <div>{{localize 'SDM.AttackOldtech'}}</div>
              </div>
              <i class="fas fa-gear rollable" data-action='updateAttack' data-attack="oldtech"></i>
            </div>
            <div class="ability grid-span-1" title="{{localize 'SDM.PowerCostHint'}}">
              <label for="system.power_cost" class='resource-label'>
                {{localize 'SDM.PowerCost'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.power_cost' value='{{system.power_cost}}' data-dtype='Number'
                  style="text-align:center;" />
              </div>
            </div>
          </div>
          {{else}}
          <div class='resources grid grid-2col'>
            <div class="ability grid-span-1 flexrow">
              <div class='resource-label rollable' data-type='attack' data-action='roll' data-attack="melee"
                data-label="{{localize 'SDM.AttackMelee'}}">
                <div>{{localize 'SDM.AttackMelee'}}</div>
              </div>
            </div>
            <div class="ability grid-span-1 flexrow">
              <div class='resource-label rollable' data-type='attack' data-action='roll' data-attack="ranged"
                data-label="{{localize 'SDM.AttackRanged'}}">
                <div>{{localize 'SDM.AttackRanged'}}</div>
              </div>
            </div>
            <div class="ability grid-span-1 flexrow">
              <div class='resource-label rollable' data-type='attack' data-action='roll' data-attack="fantascience"
                data-label="{{localize 'SDM.AttackFantascience'}}">
                <div>{{localize 'SDM.AttackFantascience'}}</div>
              </div>
            </div>
            <div class="ability grid-span-1 flexrow">
              <div class='resource-label rollable' data-type='attack' data-action='roll' data-attack="oldtech"
                data-label="{{localize 'SDM.AttackOldtech'}}">
                <div>{{localize 'SDM.AttackOldtech'}}</div>
              </div>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </header>
</div>
