{{! Sheet Character Header }}
<div>
  <header class='sheet-header'>
    <div class="edit-mode">
      <label class="switch edit-mode-toggle sdm" for="toggleMode-{{actor._id}}"
        data-tooltip="{{localize (ifThen isEditMode 'SDM.SheetEditMode' 'SDM.SheetPlayMode')}}">
        <input id="toggleMode-{{actor._id}}" type="checkbox" data-action="toggleMode" {{checked @root.isEditMode}}/>
        <span class="slider round"><i class="fa-solid fa-gear"></i></span>
      </label>
    </div>
    <div class="flexcol flex-between flex-center">
      <img class='profile-img' src='{{actor.img}}' data-edit='img' data-action='onEditImage' data-tooltip='{{actor.name}}'
        height='100' width='100' />
        {{#if (or isEditMode (not @root.editable))}}
        <div class="flexcol flex-group-center mb-12">
        {{else}}
        <div class="flexcol flex-group-center mb-12 rollable" data-context='rollable'
          data-action='heroicHealing' data-tooltip="{{localize 'SDM.HeroDiceHealingTip'}}">
        {{/if}}
          <label class='resource-label rollable'>{{localize 'SDM.FieldHeroDice'}}</label>
          <div class='resource-content flexrow height-32 rollable'>
            {{system.hero_dice.value}} / {{system.hero_dice.max}}
            <i class="die-label dice-{{@root.heroDiceType}} sheet-hero-dice" data-tooltip="{{@root.heroDiceType}}"></i>
          </div>
        </div>
      </div>
      <div class='header-fields'>
        {{!-- <div class='document-name'> --}}
          <div class="grid grid-4col">
            <div class="grid-span-1">
              <label for="name" class='resource-label'>
                {{localize 'SDM.FieldName'}}
              </label>
              <input name='name' type='text' value='{{actor.name}}' placeholder='Name' />
            </div>

            <div class='resource'>
              <label class='resource-label'>
                {{localize 'SDM.FieldSpecies'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.species' value='{{system.species}}' />
              </div>
            </div>

            <div class='resource'>
              <label class='resource-label'>
                {{localize 'SDM.FieldLooks'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.looks' value='{{system.looks}}' />
              </div>
            </div>

            <div class='resource'>
              <label for="system.likes" class='resource-label'>
                {{localize 'SDM.FieldLikes'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.likes' value='{{system.likes}}' />
              </div>
            </div>
          </div>
          {{!--
        </div> --}}
        {{! The grid classes are defined in scss/global/_grid.scss. To use,
        use both the "grid" and "grid-Ncol" class where "N" can be any number
        from 1 to 12 and will create that number of columns. }}
        <div class='resources grid grid-4col'>

          {{! "flex-group-center" is also defined in the _grid.scss file
          and it will add a small amount of padding, a border, and will
          center all of its child elements content and text. }}
          <div class='resource'>
            {{#if (or isEditMode (not @root.editable))}}
            <label for='system.life.max' class='resource-label flex-start'>
              {{localize 'SDM.FieldLifeMax'}}
            </label>
            <div class='resource-content flexrow flex-center flex-between flex-group-center'>
              <input type='text' name='system.life.value' value='{{system.life.value}}' data-dtype='Number' />
              <span> / </span>
              <input type='text' name='system.life.base' value='{{system.life.base}}' data-dtype='Number' disabled />
            </div>
            {{else}}
            <label for='system.life.max' class='resource-label flex-start'>
              {{localize 'SDM.FieldLifeMax'}}
            </label>
            <div class='resource-content flexrow flex-center flex-between flex-group-center'>
              <input type='text' name='system.life.value' value='{{system.life.value}}' />
              <span> / </span>
              <input type='text' name='system.life.max' value='{{system.life.max}}' disabled />
            </div>
            {{/if}}
          </div>

          <div class="grid-span-1 flexrow flex-between">
            <div class="grid-span-1 resource">
              <label for="system.player_experience" class='resource-label'>
                {{localize 'SDM.FieldPlayerXP'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                {{#if (or isEditMode (not @root.editable))}}
                <input type='text' name='system.player_experience' value='{{system.player_experience}}' />
                {{else}}
                <input type='text' name='system.player_experience' value='{{system.player_experience}}' disabled />
                {{/if}}
              </div>
            </div>
            <div class="grid-span-1 resource">
              <label for="system.experience" class='resource-label'>
                {{localize 'SDM.FieldCharXP'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                {{#if (or isEditMode (not @root.editable))}}
                <input type='text' name='system.experience' value='{{system.experience}}' />
                {{else}}
                <input type='text' name='system.experience' value='{{system.experience}}' disabled />
                {{/if}}
              </div>
            </div>
          </div>

          <div class='resource'>
            <label for="system.friends" class='resource-label'>
              {{localize 'SDM.FieldFriends'}}
            </label>
            <div class='resource-content flexrow flex-center flex-between'>
              <input type='text' name='system.friends' value='{{system.friends}}' />
            </div>
          </div>

          <div class='resource'>
            <label for="system.foes" class='resource-label'>
              {{localize 'SDM.FieldFoes'}}
            </label>
            <div class='resource-content flexrow flex-center flex-between'>
              <input type='text' name='system.foes' value='{{system.foes}}' />
            </div>
          </div>

          <div class='resource flexcol'>
            <div class="flexrow">
              <label for="system.defense" class='resource-label'>
                {{localize 'SDM.FieldDefense'}}
              </label>
            </div>
            <div class='resource-content flexrow align-center height-32'>
              <div data-tooltip="{{localize 'SDM.FieldPhysicalDefense'}}">
                <i class="fa-solid fa-shield-halved"></i>
                <span id="system.defense">{{system.defense}}</span>
              </div>
              <div data-tooltip="{{localize 'SDM.FieldMentalDefense'}}">
                <i class="fa-solid fa-brain"></i>
                <span id="system.mental_defense">{{system.mental_defense}}</span>
              </div>
              <div data-tooltip="{{localize 'SDM.FieldSocialDefense'}}">
                <i class="fa-solid fa-crown"></i>
                <span id="system.social_defense">{{system.social_defense}}</span>
              </div>
            </div>
          </div>

          <div class="grid-span-1 flexrow flex-between">
            <div class='grid-span-1 resource'>
              <label for="system.save_target" class='resource-label'>
                {{localize 'SDM.FieldSaveTarget'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.save_target' value='{{system.save_target}}' data-dtype='Number' {{#if
                  (not @root.isEditMode)}} disabled {{/if}} />
              </div>
            </div>
            <div class="grid-span-1 resource">
              <label for="system.level" class='resource-label'>
                {{localize 'SDM.FieldLevel'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.level' value='{{system.level}}' data-dtype='Number' disabled />
              </div>
            </div>
          </div>

          <div class="grid-span-1 flexrow flex-between">
            <div class="grid-span-1 resource">
              <label for="system.revenue" class='resource-label'>
                {{localize 'SDM.FieldRevenue'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.revenue' value='{{system.revenue}}' data-dtype='Number' />
              </div>
            </div>
            <div class="grid-span-1 resource">
              <label for="system.expense" class='resource-label'>
                {{localize 'SDM.FieldExpense'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.expense' value='{{system.expense}}' data-dtype='Number' />
              </div>
            </div>
          </div>

          <div class="grid-span-1 flexrow flex-between">
            <div class="grid-span-1 resource" data-tooltip="
              <span><b>{{toPascalCase (localize 'SDM.UnitCash')}}:</b> {{localize 'SDM.CashSymbol'}}{{system.total_cash}}</span><br/>
              <span><b>{{localize 'SDM.TabInventory'}}:</b> {{localize 'SDM.CashSymbol'}}{{system.inventory_value}}</span><hr>
              <span><b>{{toPascalCase (localize 'SDM.Total')}}:</b> {{localize 'SDM.CashSymbol'}}{{system.wealth}}</span>
            ">
              <label for="system.total_cash" class='resource-label'>
                {{localize 'SDM.FieldWealth'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.total_cash' value='{{localize 'SDM.CashSymbol'}}{{system.total_cash}}' data-dtype='Number'  disabled/>
              </div>
            </div>
            <div class="grid-span-1 resource">
              <label for="system.debt" class='resource-label'>
                {{localize 'SDM.FieldDebt'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input type='text' name='system.debt' value='{{system.debt}}' data-dtype='Number' />
              </div>
            </div>
          </div>
        </div>
      </div>
  </header>
  <header class=''>
    <div class="main flexrow flex-group-center">
      <div class='resources grid grid-5col'>
        {{!-- <div class='abilities flexcol'> --}}
          <div class='resources grid grid-3col'>
            {{#each system.abilities as |ability key|}}
            <div class="main grid-span-1">
              {{#if (or @root.isEditMode (not @root.editable))}}
              <div class='ability flexrow flex-group-center'>
                <span class='resource-label' data-label='{{localize (lookup @root.config.abilities key)}}'
                  data-tooltip='{{localize (lookup @root.config.abilities key)}}'>
                  {{toUpperCase (localize (lookup @root.config.abilityAbbreviations key))}}
                </span>
                <input type='text' name='system.abilities.{{key}}.base' value='{{ability.base}}'
                  class="ability-score ability-full" data-dtype='Number'
                  data-tooltip="{{localize 'SDM.AbilityBaseValue' ability=(localize (lookup @root.config.abilities key))}}" />
                <input type='text' name='system.abilities.{{key}}.current' value='{{ability.current}}'
                  class="ability-score" data-dtype='Number'
                  data-tooltip="{{localize 'SDM.AbilityCurrent' ability=(localize (lookup @root.config.abilities key))}}" />
                <div class='flexrow'>
                  <i class="fa-solid {{lookup @root.config.abilitySaveIcons key}} saveIcon"></i>
                </div>
              </div>
              {{else}}
              <div class='ability flexrow flex-group-center'>
                <div class="flexcol">
                  <span class='resource-label rollable'
                    data-action='roll' data-context='rollable'
                    data-ability="{{key}}" data-type="ability"
                    data-label='{{localize (lookup @root.config.abilities key)}}'
                    data-tooltip='{{localize (lookup @root.config.abilities key)}}'>
                    {{toUpperCase (localize (lookup @root.config.abilityAbbreviations key))}}
                  </span>
                  {{#if (eq key 'cha')}}
                  <i
                    class="fa-solid fa-masks-theater rollable {{lookup @root.config.abilityColors @index}}"
                    data-tooltip="{{localize 'SDM.ReactionRoll'}}"
                    data-action="reactionRoll"  data-context='rollable'
                  ></i>
                  {{/if}}
                </div>

                <input
                  type='text'
                  name='system.abilities.{{key}}.full'
                  value='{{ability.full}}'
                  class="ability-score ability-full"
                  data-dtype='Number'
                  data-tooltip="{{localize 'SDM.AbilityFull' ability=(localize (lookup @root.config.abilities key))}}<br/>{{
                  localize 'SDM.AbilityBase'}}: {{ability.base}}<br/>{{localize 'SDM.AbilityBonus'}}: {{ability.bonus}}" disabled />
                <input type='text' name='system.abilities.{{key}}.current' value='{{ability.current}}'
                  class="ability-score" data-dtype='Number'
                  data-tooltip="{{localize 'SDM.AbilityCurrent' ability=(localize (lookup @root.config.abilities key))}}" />
                <div
                  class='rollable flexrow'
                  data-ability='{{key}}'
                  data-action='rollSavingThrow'
                  data-tooltip="{{localize 'SDM.SavingThrowRoll' ability=(localize (lookup @root.config.abilities key))}}">
                  <i class="fa-solid {{lookup @root.config.abilitySaveIcons key}} saveIcon {{lookup @root.config.abilityColors @index}}"></i>
                </div>
              </div>
              {{/if}}
            </div>
            {{/each}}
            {{#if (or @root.isEditMode (not @root.editable))}}
            <div class="main grid-span-1"></div>
            <div class="main grid-span-1"></div>
            <div class="main grid-span-1"></div>
            {{/if}}
          </div>
          {{#if (or @root.isEditMode (not @root.editable))}}
          <div class='resources grid grid-2col'>
            <div
              class="ability grid-span-1 flexcol align-center"
              data-tooltip="{{localize 'DOCUMENT.Update' type=(localize 'SDM.AttackMelee')}}">
              <div class='resource-label'>
                <div>{{localize 'SDM.AttackMelee'}}</div>
              </div>
              {{#if @root.editable}}
              <i class="fa-solid fa-gear rollable" data-action='updateAttack' data-attack="melee"></i>
              {{/if}}
            </div>
            <div
              class="ability grid-span-1 flexcol align-center"
              data-tooltip="{{localize 'DOCUMENT.Update' type=(localize 'SDM.AttackRanged')}}">
              <div class='resource-label'>
                <div>{{localize 'SDM.AttackRanged'}}</div>
              </div>
               {{#if @root.editable}}
              <i class="fa-solid fa-gear rollable" data-action='updateAttack' data-attack="ranged"></i>
              {{/if}}
            </div>
            <div
              class="ability grid-span-1 flexcol align-center"
              data-tooltip="{{localize 'DOCUMENT.Update' type=(localize 'SDM.AttackFantascience')}}">
              <div class='resource-label'>
                <div>{{localize 'SDM.AttackFantascience'}}</div>
              </div>
               {{#if @root.editable}}
              <i
                class="fa-solid fa-gear rollable"
                data-action='updateAttack'
                data-attack="fantascience">
              </i>
              {{/if}}
            </div>
            <div
              class="ability grid-span-1 flexcol align-center"
              data-tooltip="{{localize 'DOCUMENT.Update' type=(localize 'SDM.AttackOldtech')}}">
              <div class='resource-label'>
                <div>{{localize 'SDM.AttackOldtech'}}</div>
              </div>
               {{#if @root.editable}}
              <i class="fa-solid fa-gear rollable" data-action='updateAttack' data-attack="oldtech"></i>
              {{/if}}
            </div>
            <div class="ability grid-span-1" data-tooltip="{{localize 'SDM.PowerCostHint'}}">
              <label for="system.power_cost" class='resource-label'>
                {{localize 'SDM.PowerCost'}}
              </label>
              <div class='resource-content flexrow flex-center flex-between'>
                <input
                  type='text'
                  name='system.power_cost'
                  value='{{system.power_cost}}'
                  data-dtype='Number'
                  style="text-align:center;"
                />
              </div>
            </div>
          </div>
          {{else}}
          <div class='resources grid grid-2col'>
            <div class="ability grid-span-1 flexrow">
              <div
                class='resource-label rollable'
                data-type='attack'
                data-action='roll'
                data-attack="melee"
                data-label="{{localize 'SDM.AttackMelee'}}">
                <div>{{localize 'SDM.AttackMelee'}}</div>
                <i class="melee-attack {{@root.config.attackColors.melee}}"></i>
              </div>
            </div>
            <div class="ability grid-span-1 flexrow">
              <div
                class='resource-label rollable'
                data-type='attack'
                data-action='roll'
                data-attack="ranged"
                data-label="{{localize 'SDM.AttackRanged'}}">
                <div>{{localize 'SDM.AttackRanged'}}</div>
                 <i class="fa-solid fa-gun {{@root.config.attackColors.ranged}}"></i>
              </div>
            </div>
            <div class="ability grid-span-1 flexrow">
              <div
                class='resource-label rollable'
                data-type='attack'
                data-action='roll'
                data-attack="fantascience"
                data-label="{{localize 'SDM.AttackFantascience'}}">
                <div>{{localize 'SDM.AttackFantascience'}}</div>
                <i class="fa-solid fa-hat-wizard {{@root.config.attackColors.fantascience}}"></i>
              </div>
            </div>
            <div class="ability grid-span-1 flexrow">
              <div
                class='resource-label rollable'
                data-type='attack'
                data-action='roll'
                data-attack="oldtech"
                data-label="{{localize 'SDM.AttackOldtech'}}">
                <div>{{localize 'SDM.AttackOldtech'}}</div>
                <i class="fa-solid fa-gamepad {{@root.config.attackColors.oldtech}}"></i>
              </div>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </header>
</div>
