{{! Sheet Character Header }}
<div>
  <header class='sheet-header'>
    <div class="flexcol flex-between flex-center">
      <img class='caravan-profile-img' src='{{actor.img}}' data-edit='img' data-action='onEditImage' data-tooltip='{{actor.name}}'
        height='150' width='150' />
    </div>
    <div class='header-fields'>
      <div class="grid grid-6col">
        <div class="grid-span-2">
          <label for="name" class='resource-label'>
            {{localize 'SDM.FieldCompany'}}
          </label>
          <input name='name' type='text' value='{{actor.name}}' />
        </div>

        <div class="grid-span-2">
          <label for="system.motto" class='resource-label'>
            {{localize 'SDM.FieldMotto'}}
          </label>
          <input name='system.motto' type='text' value='{{system.motto}}' />
        </div>

        <div class="grid-span-2">
          <label for="system.financier" class='resource-label'>
            {{localize 'SDM.FieldFinancier'}}
          </label>
          <input name='system.financier' type='text' value='{{system.financier}}' />
        </div>

         <div class="grid-span-1 resource" data-tooltip="
              <span><b>{{toPascalCase (localize 'SDM.UnitCash')}}:</b> {{localize 'SDM.CashSymbol'}}{{system.total_cash}}</span><br/>
              <span><b>{{localize 'SDM.TabCaravanInventory'}}:</b> {{localize 'SDM.CashSymbol'}}{{system.inventory_value}}</span><hr>
              <span><b>{{toPascalCase (localize 'SDM.Total')}}:</b> {{localize 'SDM.CashSymbol'}}{{system.wealth}}</span>
            ">
          <label for="system.total_cash" class='resource-label'>
            {{localize 'SDM.FieldWealth'}}
          </label>
          <input name='system.total_cash' type='text' value=' {{localize 'SDM.CashSymbol'}}{{system.total_cash}}' disabled/>
        </div>

        <div class="grid-span-1">
          <label for="system.debt" class='resource-label'>
            {{localize 'SDM.FieldDebt'}}
          </label>
          <input name='system.debt' type='text' value='{{system.debt}}' />
        </div>

        <div class="grid-span-1">
          <label for="system.cost" class='resource-label'>
            {{localize 'SDM.FieldWeeklyCost'}}
          </label>
          <input name='system.cost' type='text' value='{{system.cost}}' />
        </div>

        <div class="grid-span-1">
          <label for="system.supply" class='resource-label'>
            {{localize 'SDM.FieldWeeklySupply'}}
          </label>
          <input name='system.supply' type='text' value='{{system.supply}}' />
        </div>
        <div class="grid-span-1">
          <label for="system.date" class='resource-label'>
            {{localize 'SDM.FieldDate'}}
          </label>
          <input name='system.date' type='text' value='{{system.date}}' />
        </div>
        <div class="grid-span-1">
          <label for="system.speed" class='resource-label'>
            {{localize 'SDM.FieldSpeed'}}
          </label>
          <select name="system.speed" class="resource-content" data-dtype="Number">
            {{selectOptions @root.config.speedOptions localize=true selected=system.speed inverted=true}}
          </select>
        </div>

        <div class="grid-span-1" data-tooltip="{{#if system.overloaded}}{{localize 'SDM.StatusOverloaded'}}{{/if}}">
          <label for="system.capacity" class='resource-label {{#if system.overloaded}}fumble{{/if}}'>
            {{localize 'SDM.FieldCapacity'}} {{#if system.overloaded}} <i class="fa fa-weight-hanging fumble"></i>{{/if}}
          </label>
          <input
            name='system.capacity'
            class="{{#if system.overloaded}}fumble{{/if}}"
            type='text'
            value='{{system.capacity}}'
            data-dtype="Number"
          />
        </div>

        <div class="grid-span-2">
          <label for="system.current_location" class='resource-label'>
            {{localize 'SDM.FieldCurrentLocation'}}
          </label>
          <input name='system.current_location' type='text' value='{{system.current_location}}' />
        </div>

        <div class="grid-span-1">
          <label for="system.eta" class='resource-label'>
            {{localize 'SDM.FieldETA'}}
          </label>
          <input name='system.eta' type='text' value='{{system.eta}}' />
        </div>

        <div class="grid-span-2">
          <label for="system.current_destination" class='resource-label'>
            {{localize 'SDM.FieldCurrentDestination'}}
          </label>
          <input name='system.current_destination' type='text' value='{{system.current_destination}}' />
        </div>


        <div class="grid-span-2">
          <label for="system.extraDays" class='resource-label'>
            {{localize 'SDM.ExtraDaysTallied'}}
          </label>
          <div class="resource-content sources flex-group-center mt-5">
            {{#multiboxes system.extraDays}}
              <input type="radio" id="extraDays-{{actor.id}}-0" name="system.extraDays" value="0" checked="checked" data-dtype='Radio' style="cursor:pointer;">
              {{#times_from 1 7}}
                <input type="radio" id="extraDays-{{../actor.id}}-{{this}}" name="system.extraDays" value="{{this}}" data-dtype='Radio' style="cursor:pointer;" />
                <label class="radio-toggle" data-action="radioToggle" for="extraDays-{{../actor.id}}-{{this}}" style="cursor:pointer;" data-tooltip="{{this}}"></label>
              {{/times_from}}
            {{/multiboxes}}
          </div>
        </div>


        <div class="grid-span-2">
          <label for="system.weeks" class='resource-label'>
            {{localize 'SDM.Weeks'}}
          </label>
          <div class="resource-content sources flex-group-center mt-5">
            {{#multiboxes system.weeks}}
              <input type="radio" id="weeks-{{actor.id}}-0" name="system.weeks" value="0" checked="checked" data-dtype='Radio' style="cursor:pointer;">
              {{#times_from 1 13}}
                <input type="radio" id="weeks-{{../actor.id}}-{{this}}" name="system.weeks" value="{{this}}" data-dtype='Radio' style="cursor:pointer;" />
                <label class="radio-toggle" data-action="radioToggle" for="weeks-{{../actor.id}}-{{this}}" style="cursor:pointer;" data-tooltip="{{this}}"></label>
              {{/times_from}}
            {{/multiboxes}}
          </div>
        </div>

        <div class="grid-span-2">
          <label for="system.month" class='resource-label'>
            {{localize 'SDM.MonthTrucking'}}
          </label>
          <select name="system.month" class="resource-content" data-dtype="Number">
            {{selectOptions @root.config.months localize=true selected=system.month blank=""}}
          </select>

        </div>
      </div>
    </div>
  </header>
</div>
