{{! Sheet Character Header }}
<div>
  <header class='sheet-header'>
    <div class="flexcol flex-between flex-center">
      <img class='profile-img' src='{{actor.img}}' data-edit='img' data-action='onEditImage' title='{{actor.name}}'
        height='150' width='150' />
    </div>
    <div class='header-fields'>
      <div class="grid grid-6col">
        <div class="grid-span-1">
          <label for="name" class='resource-label'>
            {{localize 'SDM.CompanyField'}}
          </label>
          <input name='name' type='text' value='{{actor.name}}' />
        </div>

        <div class="grid-span-1">
          <label for="name" class='resource-label'>
            {{localize 'SDM.FinancierField'}}
          </label>
          <input name='system.financier' type='text' value='{{system.financier}}' />
        </div>

         <div class="grid-span-1">
          <label for="name" class='resource-label'>
            {{localize 'SDM.FinancierField'}}
          </label>
          <input name='system.financier' type='text' value='{{system.financier}}' />
        </div>

         <div class="grid-span-1">
          <label for="name" class='resource-label'>
            {{localize 'SDM.FinancierField'}}
          </label>
          <input name='system.financier' type='text' value='{{system.financier}}' />
        </div>

         <div class="grid-span-1">
          <label for="name" class='resource-label'>
            {{localize 'SDM.FinancierField'}}
          </label>
          <input name='system.financier' type='text' value='{{system.financier}}' />
        </div>

         <div class="grid-span-1">
          <label for="name" class='resource-label'>
            {{localize 'SDM.FinancierField'}}
          </label>
          <input name='system.financier' type='text' value='{{system.financier}}' />
        </div>

         <div class="grid-span-1">
          <label for="name" class='resource-label'>
            {{localize 'SDM.FinancierField'}}
          </label>
          <input name='system.financier' type='text' value='{{system.financier}}' />
        </div>
         <div class="grid-span-1">
          <label for="name" class='resource-label'>
            {{localize 'SDM.FinancierField'}}
          </label>
          <input name='system.financier' type='text' value='{{system.financier}}' />
        </div>
         <div class="grid-span-1">
          <label for="name" class='resource-label'>
            {{localize 'SDM.FinancierField'}}
          </label>
          <input name='system.financier' type='text' value='{{system.financier}}' />
        </div>
         <div class="grid-span-1">
          <label for="name" class='resource-label'>
            {{localize 'SDM.FinancierField'}}
          </label>
          <input name='system.financier' type='text' value='{{system.financier}}' />
        </div>
      </div>
      {{!-- <div class='resource'>
        <label class='resource-label'>{{localize 'SDM.Speed'}}</label>
        <select name='system.speed' data-dtype="number">
          {{selectOptions config.speedOptions localize=true selected=system.speed inverted=true}}
        </select>
      </div> --}}
    </div>
  </header>
</div>
