<section 
  class='tab attributes {{tab.cssClass}}'
  data-group='primary'
  data-tab='attributes'
>
  {{!-- Cabeçalho --}}
  {{!-- Nível --}}
  <div class="form-group">
    <label>{{localize "SDM.Item.Mount.Level"}}</label>
    <input type="number" name="system.level" value="{{system.level}}" min="0" step="1" required data-type="Number"/>
  </div>

  {{!-- Requisitos --}}
  <div class="form-group">
    <label>{{localize "SDM.Item.Mount.Requires"}}</label>
    <input type="text" name="system.requires" value="{{system.requires}}"
      placeholder="{{localize 'SDM.Item.Mount.RequiresPlaceholder'}}" />
  </div>

  {{!-- Carga Base --}}
  <div class="form-group">
    <label>{{localize "SDM.Item.Mount.Capacity"}}</label>
    <input type="number" name="system.capacity" value="{{system.capacity}}" min="1" required data-type="Number"/>
  </div>

  {{!-- Carga Puxada --}}
  <div class="form-group stacked">
    <legend>{{localize "SDM.Item.Mount.PulledLoad"}}</legend>

    {{!-- Veículo Puxado --}}
    <div class="flexrow">
      <label>{{localize "SDM.Item.Mount.PulledMotor"}}</label>
      <select name="system.pulledLoad.motorId">
        <option value=""></option>
        {{#each motors}}
        {{!-- <option value="{{this.id}}" {{selected this.id ../system.pulledLoad.motorId}}>
          {{this.name}}
        </option> --}}
        {{/each}}
      </select>
    </div>

    {{!-- Modo de Tração --}}
    <div class="flexrow">
      <label>{{localize "SDM.Item.Mount.PullMode"}}</label>
      <select name="system.pulledLoad.mode" data-type="Text">
        <option value=""></option>
        {{selectOptions pullModes localize=true selected=system.pulledLoad.mode}}
        {{!-- {{#each pullModes}}
        {{!-- {{selected this ../system.pulledLoad.mode}} --}}
         {{!-- <option value="{{this}}" {{#if (eq this ../system.pulledLoad.mode)}}selected{{/if}}>
          {{localize  (concat "SDM.Item.Mount.PullMode." this)}}
        </option> --}}
      </select>
    </div>
  </div>

  {{!-- Cavaleiros --}}
  <div class="form-group">
    <label>{{localize "SDM.Item.Mount.Riders"}}</label>
    <multi-select name="system.riders" data-type="Text">
      {{selectOptions possibleRiders valueAttr="id" labelAttr="name" selected=system.riders}}
    </multi-select>
  </div>
</section>