<li
  class='item flexrow {{item.system.status}}'
  data-item-id='{{item._id}}'
  data-drag='true'
  data-document-class='Item'
  data-tooltip="{{getItemTitle item}}"
>
  <div class='item-name' style="cursor:pointer;" data-action='openDoc'>
    <div class='item-image'>
      <img src='{{item.img}}' width='24' height='24' data-tooltip="{{item.name}}"/>
      {{#if (eq item.system.status 'notched')}}
       <i class="fa fa-hammer overlay-icon notched-icon"></i>
      {{/if}}
      {{#if (eq item.system.status 'broken')}}
        <i class="fa fa-ban overlay-icon broken-icon"></i>
      {{/if}}
    </div>
    <div class="flexrow">
      {{#if (eq item.system.resources 'running_low')}}
      <div data-tooltip="{{localize 'SDM.ItemStatusRunningLow'}}">
        <i class="fa-solid fa-battery-quarter mr-5"></i>
      </div>
      {{/if}}
      {{#if (eq item.system.resources 'run_out')}}
      <div data-tooltip="{{localize 'SDM.ItemStatusRunOut'}}">
        <i class="fa-solid fa-battery-empty mr-5"></i>
      </div>
      {{/if}}
      {{#if (and
        (ne actorType 'caravan')
        (ne item.system.status 'broken')
        (ne item.system.resources 'run_out')
        (ne item.system.size.unit 'cash')
        (eq item.system.type 'weapon')
        item.system.readied
        item.system.weapon.damage.base
        @root.editable
      )}}
      <div
        class='rollable flexrow'
        data-action='roll'
        data-type='damage'
        data-label='{{item.name}}'
        data-tooltip="{{localize 'SDM.RollType' type=(localize 'SDM.Damage')}}"
      >
        <i class='fa-solid fa-dice-d20 roll-icon'></i>
      </div>
      {{/if}}

      {{#if (and
        (ne actorType 'caravan')
        (ne item.system.status 'broken')
        (ne item.system.resources 'run_out')
        (ne item.system.size.unit 'cash')
        (eq item.system.type 'power')
        item.system.readied
        @root.editable
      )}}
      <div
        class='rollable flexrow'
        data-action='roll'
        data-type='power'
        data-label='{{item.name}}'
        data-tooltip="{{localize 'SDM.RollType' type=(localize 'SDM.Power')}}"
      >
        <i class='fa-solid fa-dice-d20 roll-icon'></i>
      </div>
      {{/if}}

      {{#if (and
        (ne actorType 'caravan')
        (ne item.system.status 'broken')
        (ne item.system.resources 'run_out')
        (ne item.system.size.unit 'cash')
        (eq item.system.type 'power_album')
        item.system.readied
        (gt item.system.powers.length 0)
        @root.editable
      )}}
      <div
        class='rollable flexrow'
        data-action='roll'
        data-type='power_album'
        data-label='{{item.name}}'
        data-tooltip="{{localize 'SDM.RollType' type=(localize 'SDM.PowerAlbum')}}"
        style="align-items: center;"
      >
        <i class='fa-solid fa-book roll-icon'></i>
      </div>
      {{/if}}

      {{#if (and (gt item.system.slots_taken 1) (ne item.system.size.unit 'sacks'))}}
      <span
       data-tooltip="{{item.system.slots_taken}} {{localize 'SDM.UnitStones'}}"
      >[{{item.system.slots_taken}}]&nbsp;
      </span>
      {{/if}}
      {{#if (and (gt item.system.slots_taken 1) (eq item.system.size.unit 'sacks'))}}
      <span
       data-tooltip="{{toSacks item.system.slots_taken false}} {{ifThen (gt (toSacks item.system.slots_taken false) 1) (localize 'SDM.UnitSacks') (localize 'SDM.UnitSack')}}"
      >[{{toSacks item.system.slots_taken}}]&nbsp;
      </span>
      {{/if}}

      {{#if (eq item.system.size.unit 'cash')}} {{item.system.quantity}} {{/if}}
      {{#if item.system.is_hallmark}}<i class="fa-regular fa-star hallmark" data-tooltip="{{localize 'SDM.HallmarkItem'}}"></i>{{/if}}
      {{#if (and (gt item.system.charges.max 0) (has item.system.features 'charges')) }} <span
       data-tooltip="{{localize 'SDM.ItemCharges'}}"
      >({{item.system.charges.value}}/{{item.system.charges.max}})&nbsp;</span>{{/if}}
      {{item.name}}

      {{#if (and (ne item.system.size.unit 'cash') (gt item.system.quantity 1))}}
      x{{item.system.quantity}}
      {{/if}}
    </div>
    <div class='flexrow align-center'>
      <div>
        {{#if item.system.versatile}}
        {{/if}}
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class='item-controls {{ifThen (eq actorType 'caravan') 'controls-1' 'controls-2'}}'>
    {{#if @root.editable}}

    {{#if (and
      (ne actorType 'caravan')
      (ne item.system.status 'broken')
      (ne item.system.type 'corruption')
    )}}
    <a class="item-control">
      <i
        class="fa-regular fa-shield {{ifThen item.system.readied 'readied' 'not-readied'}}"
        data-action="toggleReadied"
        {{#if item.system.readied}}
          data-tooltip="{{localize 'SDM.ItemReadied' }}"
        {{else}}
          data-tooltip="{{localize 'SDM.ItemNotReadied'}}"
        {{/if}}
      >
      </i>
    </a>
    {{/if}}
      {{#if (ne item.system.type 'corruption')}}
      <a class="item-control">
        <i
          class="fa-regular fa-exchange"
          data-action="transferItem"
          data-tooltip="{{localize 'DOCUMENT.Transfer'
          type=(localize 'TYPE.Item' )}}"
        >
        </i>
      </a>
      {{/if}}
    {{/if}}
  </div>
</li>
