{{! Gear Tab }}
<section class='tab inventory {{tab.cssClass}}' data-group='primary' data-tab='inventory'>
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-name'></div>
      <div class='item-formula'>
      {{localize 'SDM.InventoryItems'}} [{{@root.itemSlotsTaken}}{{#if (
        eq @root.actor.type 'character')}}/{{@root.system.item_slots}}{{/if}}{{#if (
          gt @root.system.packed_item_slots_bonus 0)}}<i class='fa-regular fa-shield readied'></i> {{@root.packedSlotsTaken}}/{{@root.system.packed_item_slots_bonus}}<i class='fa-regular fa-shield not-readied'></i>{{/if}}]
      </div>
      <div class='item-controls'>
        {{#if @root.editable}}
        <a
          class='item-control item-create'
          data-tooltip="{{localize 'DOCUMENT.Create' type=(localize 'TYPE.Item' )}}"
          data-action='createDoc'
          data-document-class='Item'
          data-type='gear'
        >
          <i class='fas fa-plus'></i>
          {{localize 'DOCUMENT.New' type=(localize 'TYPE.Item' )}}
        </a>
        {{/if}}
      </div>
    </li>
    {{#each items as |item id|}}
     {{> ($$ "actor/item") item=item actorType=@root.actor.type}}
    {{/each}}
  </ol>

</section>
