<li
  class='item flexrow {{trait.system.status}}'
  data-item-id='{{trait._id}}'
  data-drag='true'
  data-document-class='Item'
  data-tooltip='{{getItemTitle trait}}'
>
  <div class='item-name' style="cursor:pointer;" data-action='sendToChat'>
    <div class='item-image'>
      <img src='{{trait.img}}' width='24' height='24' />
      {{#if (eq trait.system.status 'notched')}}
       <i class="fa fa-hammer overlay-icon notched-icon"></i>
      {{/if}}
      {{#if (eq trait.system.status 'broken')}}
        <i class="fa fa-ban overlay-icon broken-icon"></i>
      {{/if}}
    </div>
    <div class='flexrow'>
      {{#if (and
        (eq trait.system.type 'power')
        (ne trait.system.status 'broken')
      )}}
        <div
          class='rollable flexrow'
          data-action='roll'
          data-type='power'
          data-label='{{trait.name}}'
          data-tooltip='{{localize "SDM.RollType" type=(localize 'SDM.Power')}}'
        >
          <i class='fa-solid fa-dice-d20 roll-icon'></i>
        </div>
      {{/if}}

      {{trait.name}}
      {{#if (and (eq trait.system.type 'skill') (gt trait.system.skill.modifier_final 0))}}
        (+{{trait.system.skill.modifier_final}})
      {{/if}}
    </div>
  </div>
  <div class='item-controls-small'>
    {{#if @root.editable}}
    {{#if (eq trait.system.type 'power')}}
    <a class="item-control">
      <i class="fa-regular
        {{#if (eq system.status 'notched')}}fa-hammer
        {{else}}
        {{#if (eq system.status 'broken')}}fa-ban
        {{else}}fa-circle-dot
        {{/if}}
        {{/if}}"
        data-action="toggleItemStatus"
      ></i>
    </a>
    {{/if}}
    <a
      class='item-control item-edit'
      data-tooltip='{{localize "DOCUMENT.Update" type=(localize 'TYPE.Trait')}}'
      data-action='viewDoc'
    >
      <i class='fa-solid fa-edit'></i>
    </a>
      <a
        class='item-control item-delete'
        data-tooltip='{{localize "DOCUMENT.Delete" type=(localize 'TYPE.Trait')}}'
        data-action='deleteDoc'
      >
        <i class='fa-solid fa-trash'></i>
      </a>
    {{/if}}
  </div>
</li>
