{{! Gear Tab }}
<section class='tab inventory {{tab.cssClass}}' data-group='primary' data-tab='inventory'>
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-name'></div>
      <div class='item-formula'
      >{{localize 'SDM.InventoryTraits'}} [{{@root.traitSlotsTaken}}{{#if (
        ne @root.actor.type 'npc')}}/{{@root.system.trait_slots}}{{/if}}]
      </div>
      <div class='item-controls'>
        {{#if @root.editable}}
        <a
          class='item-control item-create'
          data-tooltip="{{localize 'SDM.DOCUMENT.Create' type=(localize 'TYPE.Trait')}}"
          data-action='createDoc'
          data-document-class='Item'
          data-type='trait'
        >
          <i class='fa-solid fa-plus'></i>
          {{localize 'SDM.DOCUMENT.New' type=(localize 'TYPE.Trait')}}
        </a>
        {{/if}}
      </div>
    </li>
    {{#each traits as |trait id|}}
      {{> ($$ "actor/trait") trait=trait }}
    {{/each}}
  </ol>

</section>
