<div class="dice-roll" data-action="expandRoll">
  <div class="dice-result">
    <div class="dice-formula">{{heroicTotal.length}}{{heroDiceType}}</div>
    <div class="dice-tooltip">
      <div class="wrapper">
        <section class="tooltip-part">
          <div class="dice">
            <header class="part-header">
              <span class="part-formula">{{localize 'SDM.OriginalRoll'}}</span>
            </header>
            <ol class="dice-rolls">
              {{#each dice}}
              <li class="roll die d{{dieFaces}}
              {{#if (eq original dieFaces)}}exploded max{{/if}}
              {{#unless isKept}}discarded{{/unless}}"
                data-tooltip="{{#unless isKept}}{{localize 'SDM.DiceDiscarded'}}{{/unless}}">
                {{original}}
              </li>
              {{/each}}
            </ol>

          </div>
        </section>

        <!-- Hero Dice -->
        {{#if heroicTotal.length}}
        <section class="tooltip-part">
          <div class="dice">
            <header class="part-header">
              <span class="part-formula">{{localize 'SDM.FieldHeroDice'}} {{heroicTotal.length}}{{heroDiceType}}</span>
            </header>
            <ol class="dice-rolls">
              {{#each heroicTotal as |heroicDice|}}
              <li class="roll die {{@root.heroDiceType}}
                {{#unless (contains ../heroicUsed heroicDice.index)}}discarded{{/unless}}"
                  data-tooltip="{{#unless (contains ../heroicUsed heroicDice.index)}}{{localize 'SDM.DiceDiscarded'}}{{/unless}}">
                {{heroicDice.result}}
              </li>
              {{/each}}
            </ol>
          </div>
        </section>
        {{/if}}

        <!-- Explosions -->
        {{#each explosions as |explosion|}}
        <div class="dice">
          <header class="part-header">
            <span class="part-formula">{{localize 'SDM.RollExplosion'}} {{addOne @index}}</span>
          </header>
          <ol class="dice-rolls">
            {{#each explosion.chain as |chain|}}
            <li
              class="roll die d{{../dieFaces}} {{#if (eq chain @../dieFaces)}}exploded max{{/if}}{{#unless explosion.isKept}} discarded{{/unless}}"
              data-tooltip="{{#unless explosion.isKept}}{{localize 'SDM.DiceDiscarded'}}{{/unless}}">
              {{chain}}
            </li>
            {{/each}}
          </ol>
        </div>
        {{/each}}

        {{#if (and diceTotal (ne diceTotal total))}}
        <section class="tooltip-part">
          <div class="dice">
            <header class="part-header">
              <span class="part-formula">{{localize 'SDM.RollDiceTotal'}} {{#if multiplier}}({{multiplier}}){{/if}}</span>
            </header>
            <ol class="dice-rolls">
              <li><b>{{numberFormat diceTotal}}</b></li>
            </ol>
          </div>
        </section>
        {{/if}}

        {{#if (and modifiers (ne modifiers 0))}}
        <section class="tooltip-part">
          <div class="dice">
            <header class="part-header">
              <span class="part-formula">{{localize 'SDM.RollModifiers'}}</span>
            </header>
            <ol class="dice-rolls">
              <li><b>{{numberFormat modifiers sign=true}}</b></li>
            </ol>
          </div>
        </section>
        {{/if}}
      </div>
    </div>
    <h4 class="dice-total">
      {{total}}
    </h4>
  </div>
</div>
