<div class="chat-card item-card" data-item-id="{{ item.id }}">
  {{!-- {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}} {{#if isPower}}data-power-level="{{ item.system.power.level }}"{{/if}}> --}}

  {{!-- Collapsible Item Details --}}
  <section class="card-header description collapsible {{#if collapsed}}collapsed{{/if}}">

    {{!-- Summary --}}
    <header class="summary" style="cursor:pointer;">
      <img class="gold-icon" src="{{ item.img }}" alt="{{ item.name }}">
      <div class="name-stacked border">
          <div class="title flex flex-between">
            <span>{{ item.name }}</span>
            <span class="item-cost">{{costSubtitle}} </span>
          </div>
          <div class="subtitle flex flex-between">
            <span>
              {{#if (eq item.system.type 'power')}}
                {{localize 'SDM.PowerLevel'}}: {{item.system.power.level}}
              {{else}}
                {{localize (concat 'TYPES.Item.' type)}}
              {{/if}}
            </span>
            <span class="item-weight">
              {{#if (ne weightSubtitle '')}}
                {{weightSubtitle}} <i class="fa fa-weight-hanging subtitle"></i>
              {{/if}}
            </span>
          </div>
      </div>
      <i class="fas fa-chevron-down fa-fw"></i>
    </header>

    {{!-- Details --}}
    <section class="details collapsible-content card-content">
      <div class="wrapper">
        {{{ item.system.description }}}
        {{#if (and (eq item.system.type 'power') (ne item.system.power.overcharge ''))}}
        <div>
          <span class="overcharge"><strong>{{localize 'SDM.PowerOvercharge'}}</strong></span>
          <div>
            {{{ item.system.power.overcharge }}}
          </div>
        </div>
        {{/if}}
      </div>
      {{#if item.system.features.size}}
      <div class="mt-10">
        <ul class="card-footer pills unlist">
            {{#each item.system.features}}
            <li class="pill transparent">
              <span data-tooltip aria-label="{{localize (concat 'SDM.ItemFeature.' this)}}: {{localize (concat 'SDM.ItemFeature.' this 'Description')}}">
                {{#if (numberedFeature this)}}
                  {{replace (localize (concat 'SDM.ItemFeature.' this 'Abbr')) ' #'}}
                {{else}}
                  {{localize (concat 'SDM.ItemFeature.' this 'Abbr')}}
                {{/if}}
                {{ifThen (numberedFeature this) (lookup (lookup ../item.system this) 'value')  ''}}
              </span>
            </li>
            {{/each}}
        </ul>
      </div>
      {{/if}}
    </section>
  </section>
</div>
