<div class='custom-roll'>
  <div class='dice-roll' data-action='expandRoll'>
    <div class='dice-result'>
      <div class='dice-formula'>
        {{formula}}
      </div>
      {{{dynamicHTML rollTooltip}}}
      <div class='dice-total'>
        {{total}}
      </div>
    </div>
  </div>
  <div class='custom-result'>
    <h6 style='margin:0; text-transform: uppercase;'>
      {{outcome}}
    </h6>
    <p style='margin:0; font-size: 14px;'>
      {{message}}
    </p>
  </div>

  <div style='margin-top: 8px; font-size: 12px; opacity: 0.7;'>
    {{targetLabel}}: {{targetNumber}}
  </div>
</div>