<header class='sheet-header'>
  <img class='profile-img' src='{{item.img}}' data-edit='img' data-action='onEditImage' data-tooltip='{{item.name}}' />
  <div class='header-fields mt-10'>
    <div class='document-name'>
      <div class="flexrow flex-between">
        <input name='name' class="resource-label flexultra" type='text' value='{{item.name}}' placeholder='Name' />
        {{#if (eq system.type 'power')}}
        <div class="flex flex-group-center flexcol rollable" data-action="toggleIsHallmark" style="cursor:pointer;">
          <label class='resource-label'>{{localize 'SDM.HallmarkItem'}}</label>
          <i class="fa-regular fa-star mt-5 {{#if item.system.is_hallmark}}hallmark{{/if}}"></i>
        </div>
        {{/if}}
      </div>
    </div>
    <div class='grid grid-2col'>
      <div class='resource mr-10'>
        <label class='resource-label'>{{localize 'SDM.SourcesToLearn'}}
          <input type='text' name='system.learning.required_successes' value='{{system.learning.required_successes}}' data-dtype='Number' />
        </label>
      </div>

      <div class='resource flex-group-center'>
        {{#if (gt system.learning.required_successes 0)}}
        <label class='resource-label'>{{localize 'SDM.Sources'}}</label>
        <div class="resource-content sources flex-group-center mt-5">
          {{#multiboxes system.learning.sources}}
            <input type="radio" id="sources-{{item.id}}-0" name="system.learning.sources" value="0" checked="checked" data-dtype='Radio' style="cursor:pointer;">
            {{#times_from 1 system.learning.required_successes}}
              <input type="radio" id="sources-{{../item.id}}-{{this}}" name="system.learning.sources" value="{{this}}" data-dtype='Radio' style="cursor:pointer;">
              <label class="radio-toggle" data-action="radioToggle" for="sources-{{../item.id}}-{{this}}" style="cursor:pointer;" data-tooltip="{{this}}"></label>
            {{/times_from}}
          {{/multiboxes}}
        </div>
        {{/if}}
      </div>

      {{#if item.system.is_hallmark}}
      <div class='resource'>
        <label class='resource-label'>{{localize 'SDM.FieldLevel'}}
          <input type='text' name='system.hallmark.level' value='{{system.hallmark.level}}' data-dtype='Number' />
        </label>
      </div>
      <div class='resource'>
        <label class='resource-label'>{{localize 'SDM.FieldExperience'}}</label>
        <input type='text' name='system.hallmark.experience' value='{{system.hallmark.experience}}' />
      </div>
      {{/if}}
    </div>
  </div>
</header>
<header>
  <div class="">
    <div class="grid grid-3col">

      <div class="resource">
        <label class='resource-label'>{{localize 'SDM.ItemTraitType'}}</label>
        <select name='system.type' class="resource-content">
          {{selectOptions @root.config.traitType blank='TYPE.Trait' localize=true selected=system.type sort=true}}
        </select>
      </div>

      {{#if (eq item.system.type 'skill')}}
      <div class='resource'>
        <label class='resource-label'>{{localize 'SDM.SkillMod'}}</label>
        <select name='system.skill.rank'>
          <option value=''></option>
          {{#each @root.skillMod as |skill key|}}
          <option value='{{key}}' {{#if (eq (toInt key) ../item.system.skill.rank)}}selected{{/if}}>{{localize skill}}
            (+{{multiply key
            (ifThen ../item.system.skill.custom_modifiers ../item.system.skill.modifier_step @root.skillModifierStep)}})</option>
          {{/each}}
        </select>
      </div>

      <div class='resource align-center'>
        <label class='resource-label'>
          {{localize 'SDM.SkillCustomModifier'}}
        </label>
        <div class='resource-content align-center'>
          <input type='checkbox' name='system.skill.custom_modifiers' {{checked system.skill.custom_modifiers}} />
        </div>
      </div>

        {{#if system.skill.custom_modifiers}}
        <div class="resource"></div>
        <div class='resource'>
          <label class='resource-label'>
            {{localize 'SDM.SkillModifierStep'}}
          </label>
          <div class='resource-content'>
            <input type='text' name='system.skill.modifier_step' value='{{system.skill.modifier_step}}'
              data-dtype="Number" />
          </div>
        </div>
        {{/if}}
      {{/if}}

      {{#if (eq item.system.type 'power')}}
      {{!-- fragment --}}
      {{> ($$ "item/power") item=item abilities=@root.abilities}}
      {{!-- fragment --}}
      {{/if}}
    </div>
  </div>
</header>
