<header class='sheet-header'>
  <img class='profile-img' src='{{item.img}}' data-edit='img' data-action='onEditImage' data-tooltip='{{item.name}}' />
  <div class='header-fields mt-10'>
    <div class='document-name'>
      <input name='name' type='text' value='{{item.name}}' placeholder='Name' />
    </div>
  </div>
</header>
<header>
  <div class="">
    <div class="grid grid-3col">

      <div class="resource">
        <label class='resource-label'>{{localize 'SDM.ItemTraitType'}}</label>
        <select name='system.type' class="resource-content">
          {{selectOptions @root.config.traitType blank='TYPE.Trait' localize=true selected=system.type sort=true}}
        </select>
      </div>

      {{#if (eq item.system.type 'skill')}}
      <div class='resource'>
        <label class='resource-label'>{{localize 'SDM.SkillMod'}}</label>
        <select name='system.skill.rank'>
          <option value=''></option>
          {{#each config.skillMod as |skill key|}}
          <option value='{{key}}' {{#if (eq (toInt key) ../item.system.skill.rank)}}selected{{/if}}>{{localize skill}}
            (+{{multiply key ../item.system.skill.modifier_step}})</option>
          {{/each}}
        </select>
      </div>

      <div class='resource align-center'>
        <label class='resource-label'>
          {{localize 'SDM.SkillCustomModifier'}}
        </label>
        <div class='resource-content align-center'>
          <input type='checkbox' name='system.skill.custom_modifiers' {{checked system.skill.custom_modifiers}} />
        </div>
      </div>

        {{#if system.skill.custom_modifiers}}
        <div class="resource"></div>
        <div class='resource'>
          <label class='resource-label'>
            {{localize 'SDM.SkillModifierStep'}}
          </label>
          <div class='resource-content'>
            <input type='text' name='system.skill.modifier_step' value='{{system.skill.modifier_step}}'
              data-dtype="Number" />
          </div>
        </div>
        {{/if}}
      {{/if}}

      {{#if (eq item.system.type 'power')}}
      {{!-- fragment --}}
      {{> ($$ "item/power") item=item abilities=@root.config.abilities}}
      {{!-- fragment --}}
      {{/if}}
    </div>
  </div>
</header>
