<header class='sheet-header'>
  <img class='profile-img' src='{{item.img}}' data-edit='img' data-action='onEditImage' title='{{item.name}}' />
  <div class='header-fields'>
    <div class='document-name'>
      <input name='name' type='text' value='{{item.name}}' placeholder='Name' />
    </div>
    <div class='grid grid-2col'>

       <div class="resource">
        <label class='resource-label'>{{localize 'SDM.ItemTraitType'}}</label>
        <select name='system.type' class="resource-content">
          <option value=''></option>
          {{selectOptions config.traitType localize=true selected=system.type}}
        </select>
      </div>

      <div class='resource'>
        {{#if (eq item.system.type 'skill')}}
        <label class='resource-label'>{{localize 'SDM.TraitSkillMod'}}</label>
        <select name='system.skill_mod'>
          <option value=''></option>
          {{selectOptions skillMod valueAttr="value" labelAttr="label" selected=item.system.skill_mod}}
        </select>
        {{/if}}
      </div>

      {{#if (eq item.system.type 'power')}}
        {{!-- fragment --}}
        {{> ($$ "item/power") item=item}}
        {{!-- fragment --}}
      {{/if}}
    </div>
  </div>
</header>
