<div>
  <header class='sheet-header'>
    <div class="flexcol flex-between flex-center">
      <img class='profile-img' src='{{item.img}}' data-edit='img' data-action='onEditImage' data-tooltip='{{item.name}}' />
      <div class="align-center mb-10 mr-10 rollable" {{#if system.readied}}
        data-tooltip="{{localize 'SDM.ItemReadied' }}" {{else}} data-tooltip="{{localize 'SDM.ItemNotReadied'}}" {{/if}}
        data-action="toggleReadied">
        <div class='resource-label'>
          {{#if system.readied}}
          {{localize 'SDM.ItemReadied' }}
          {{else}}
          {{localize 'SDM.ItemNotReadied'}}
          {{/if}}
        </div>
          <i class="fa-regular fa-shield {{ifThen system.readied 'readied' 'not-readied'}}"></i>
      </div>
    </div>

    <div class='header-fields mt-10'>
      <div class='document-name'>
        <div class="flexrow flex-between">
          <input name='name' class="resource-label flexultra" type='text' value='{{item.name}}' placeholder='Name' />
          {{#unless (eq system.size.unit 'cash')}}
          <div class="flex flex-group-center flexcol rollable" data-action="toggleIsHallmark" style="cursor:pointer;">
            <label class='resource-label'>{{localize 'SDM.HallmarkItem'}}</label>
            <i class="fa-regular fa-star mt-5 {{#if item.system.is_hallmark}}hallmark{{/if}}"></i>
          </div>
           {{/unless}}
        </div>
      </div>
      <div class='grid grid-{{ifThen item.system.is_hallmark 3 2}}col'>
        <div class='resource'>
          <label class='resource-label'>{{localize 'SDM.ItemQuantity'}}
            <input type='text' name='system.quantity' value='{{system.quantity}}' data-dtype='Number' />
          </label>
        </div>
        <div class='resource'>
          {{#unless (eq system.size.unit 'cash')}}
            <label class='resource-label'>{{localize 'SDM.ItemCost'}}</label>
            <input type='text' name='system.cost' value='{{system.cost}}' data-dtype='Number' />
          {{/unless}}
        </div>

        {{#if item.system.is_hallmark}}
        <div class='resource'>
          <label class='resource-label'>{{localize 'SDM.FieldLevel'}}
            <input type='text' name='system.hallmark.level' value='{{system.hallmark.level}}' data-dtype='Number' />
          </label>
        </div>
        {{/if}}

        <div class='resource'>
          <label class='resource-label'>{{localize 'SDM.ItemSizeValue'}}</label>
          <input type='text' name='system.size.value' value='{{system.size.value}}' data-dtype='Number' />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize 'SDM.ItemSizeUnit'}}</label>
          <select name='system.size.unit'>
            <option value=''></option>
            {{selectOptions sizeUnits localize=true selected=system.size.unit}}
          </select>
        </div>

        {{#if item.system.is_hallmark}}
        <div class='resource'>
          <label class='resource-label'>{{localize 'SDM.FieldExperience'}}</label>
          <input type='text' name='system.hallmark.experience' value='{{system.hallmark.experience}}' />
        </div>
        {{/if}}
      </div>
  </header>
  <header>
    <div class='grid grid-3col'>
    {{#if (ne item.system.size.unit 'cash')}}
      <div class="resource ">
        <label class='resource-label '>{{localize 'SDM.ItemGearType'}}</label>
        <select id='gearType' name='system.type' class="resource-content">
          {{selectOptions config.gearType localize=true selected=system.type sort=true blank='TYPE.Gear'}}
        </select>
      </div>

      {{#if (eq item.system.type '')}}

      <div class="resource align-center">
        <label class='resource-label'>{{localize 'SDM.GearStartingKit'}}</label>
        <div class='resource-content align-center'>
          <input type='checkbox' name='system.starting_kit' {{checked system.starting_kit}} />
        </div>
      </div>

        {{#if item.system.starting_kit}}
        <div class="resource">
          <label class='resource-label'>{{localize 'SDM.GearStartingKitRemainingItems'}}</label>
          <div class='resource-content'>
            <input type='text' name='system.packed_remaining_items' value='{{system.packed_remaining_items}}' data-dtype='Number' disabled/>
          </div>
        </div>
        {{else}}
        <div class="resource">

        </div>
        {{/if}}

        <div class="resource"></div>

        <div class="resource align-center">
          <label class='resource-label'>{{localize 'SDM.IsSupply'}}</label>
          <div class='resource-content align-center'>
            <input type='checkbox' name='system.is_supply' {{checked system.is_supply}} />
          </div>
        </div>

        {{#if item.system.is_supply}}
        <div class= "resource">
          <label class='resource-label '>{{localize 'SDM.SupplyType'}}</label>
          <select id='supply_type' name='system.supply_type' class="resource-content">
            {{selectOptions config.SupplyType localize=true selected=system.supply_type sort=true}}
          </select>
        </div>
        {{/if}}

      {{/if}}

      {{#if (eq item.system.type 'weapon')}}
      <div class='resource'>
        <label class='resource-label'>
          {{localize 'SDM.WeaponDamage'}}
        </label>
        <div class='resource-content'>
          <input type='text' name='system.weapon.damage.base' value='{{system.weapon.damage.base}}' />
        </div>
      </div>
      <div class="resource">
        <label class='resource-label'>{{localize 'SDM.WeaponRange'}}</label>
        <select name='system.weapon.range' class="resource-content">
          <option value=''></option>
          {{selectOptions config.rangeType localize=true selected=system.weapon.range}}
        </select>
      </div>

      <div class='resource align-center'>
        <label class='resource-label'>
          {{localize 'SDM.WeaponVersatile'}}
        </label>
        <div class='resource-content align-center'>
          <input type='checkbox' name='system.weapon.versatile' {{checked system.weapon.versatile}} />
        </div>
      </div>

      <div class='resource'>
        {{#if system.weapon.versatile}}
        <label class='resource-label'>
          {{localize 'SDM.WeaponVersatileDamage'}}
        </label>
        <div class='resource-content'>
          <input type='text' name='system.weapon.damage.versatile' value='{{system.weapon.damage.versatile}}' />
        </div>
        {{/if}}
      </div>

      {{#if (ne item.parent.type 'npc')}}
      <div class='resource'>
        <label class='resource-label'>
          {{localize 'SDM.AbilityModifier'}}
        </label>
        <div class='resource-content'>
          <select name="system.default_ability" id="system.default_ability">
            <option value=""></option>
            {{selectOptions @root.abilities localize=true selected=system.default_ability}}
          </select>
        </div>
      </div>
      {{/if}}
      {{/if}}



      {{#if (eq item.system.type 'armor')}}
      <div class='resource'>
        <label class='resource-label'>
          {{localize 'SDM.ArmorValue'}}
        </label>
        <div class='resource-content'>
          <input type='text' name='system.armor.value' value='{{system.armor.value}}' data-dtype='Number' />
        </div>
      </div>

      <div class="resource">
        <label class='resource-label'>{{localize 'SDM.ArmorType'}}</label>
        <select name='system.armor.type' class="resource-content">
          <option value=''></option>
          {{selectOptions config.armorType localize=true selected=system.armor.type}}
        </select>
      </div>
      {{/if}}

      {{#if (eq item.system.type 'ward')}}
      <div class='resource'>
        <label class='resource-label'>
          {{localize 'SDM.WardValue'}}
        </label>
        <div class='resource-content'>
          <input type='text' name='system.ward.value' value='{{system.ward.value}}' data-dtype='Number' />
        </div>
      </div>

      <div class="resource">
        <label class='resource-label'>{{localize 'SDM.WardType'}}</label>
        <select name='system.ward.type' class="resource-content">
          <option value=''></option>
          {{selectOptions config.wardType localize=true selected=system.ward.type}}
        </select>
      </div>
      {{/if}}

      {{#if (eq item.system.type 'power')}}
      {{!-- Start fragment --}}
      {{> ($$ "item/power") item=item abilities=@root.abilities}}
      {{!-- End fragment --}}
      {{/if}}


      {{#if (eq item.system.type 'power_album')}}
      <div class="resource">
        <label class='resource-label'>
          {{localize 'SDM.GearMaxPowers'}}
        </label>
        <input type='text' name='system.max_powers' value='{{system.max_powers}}' data-dtype='Number' />
      </div>
      <div class="resource"></div>
      {{/if}}
      {{/if}}
    </div>
</div>
</div>
</header>
</div>
