<div>
  <header class='sheet-header'>
    <div class="flexcol flex-between flex-center">
      <img class='profile-img' src='{{item.img}}' data-edit='img' data-action='onEditImage' title='{{item.name}}' />
      <div class="align-center mb-10 mr-10 rollable" {{#if system.readied}}
        data-tooltip="{{localize 'SDM.ItemReadied' }}" {{else}} data-tooltip="{{localize 'SDM.ItemNotReadied'}}" {{/if}}
        data-action="toggleReadied">
        <div class='resource-label'>
          {{#if system.readied}}
          {{localize 'SDM.ItemReadied' }}
          {{else}}
          {{localize 'SDM.ItemNotReadied'}}
          {{/if}}
        </div>
        <i class="fa-regular fa-shield resource-content" style="{{getReadiedStyle system.readied}}"></i>
      </div>
    </div>

    <div class='header-fields mt-10'>
      <div class='document-name'>
        <input name='name' type='text' value='{{item.name}}' placeholder='Name' />
      </div>
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>{{localize 'SDM.ItemQuantity'}}
            <input type='text' name='system.quantity' value='{{system.quantity}}' data-dtype='Number' />
          </label>
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize 'SDM.ItemCost'}}</label>
          <input type='text' name='system.cost' value='{{system.cost}}' data-dtype='Text' />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize 'SDM.ItemSizeValue'}}</label>
          <input type='text' name='system.size.value' value='{{system.size.value}}' data-dtype='Number' />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize 'SDM.ItemSizeUnit'}}</label>
          <select name='system.size.unit'>
            <option value=''></option>
            {{selectOptions sizeUnits localize=true selected=system.size.unit}}
          </select>
        </div>
      </div>
  </header>
  <header>
    <div class='grid grid-3col'>
      <div class="resource">
        <label class='resource-label'>{{localize 'SDM.ItemGearType'}}</label>
        <select name='system.type' class="resource-content">
          <option value=''></option>
          {{selectOptions config.gearType localize=true selected=system.type}}
        </select>
      </div>

      {{#if (eq item.system.type 'weapon')}}
      <div class='resource'>
        <label class='resource-label'>
          {{localize 'SDM.WeaponDamage'}}
        </label>
        <div class='resource-content'>
          <input type='text' name='system.weapon.damage.base' value='{{system.weapon.damage.base}}' />
        </div>
      </div>
      <div class="resource">
         <label class='resource-label'>{{localize 'SDM.WeaponRange'}}</label>
        <select name='system.weapon.range' class="resource-content">
          <option value=''></option>
          {{selectOptions config.rangeType localize=true selected=system.weapon.range}}
        </select>
      </div>
      <div class='resource align-center'>
        <label class='resource-label'>
          {{localize 'SDM.WeaponVersatile'}}
        </label>
        <div class='resource-content align-center'>
          <input type='checkbox' name='system.weapon.versatile' {{checked system.weapon.versatile}} />
        </div>
      </div>
      {{#if system.weapon.versatile}}
      <div class='resource'>
        <label class='resource-label'>
          {{localize 'SDM.WeaponVersatileDamage'}}
        </label>
        <div class='resource-content'>
          <input type='text' name='system.weapon.damage.versatile' value='{{system.weapon.damage.versatile}}' />
        </div>
      </div>
      {{/if}}
      {{/if}}


      {{#if (eq item.system.type 'armor')}}
      <div class='resource'>
        <label class='resource-label'>
          {{localize 'SDM.ArmorValue'}}
        </label>
        <div class='resource-content'>
          <input type='text' name='system.armor.value' value='{{system.armor.value}}' data-dtype='Number' />
        </div>
      </div>

      <div class="resource">
        <label class='resource-label'>{{localize 'SDM.ArmorType'}}</label>
        <select name='system.armor.type' class="resource-content">
          <option value=''></option>
          {{selectOptions config.armorType localize=true selected=system.armor.type}}
        </select>
      </div>
      {{/if}}

      {{#if (eq item.system.type 'power')}}
      {{!-- Start fragment --}}
      {{> ($$ "item/power") item=item}}
      {{!-- End fragment --}}
      {{/if}}
    </div>
</div>
</div>
</header>
</div>
