<div class="custom-roll-modal">
  <h4>{{localize 'SDM.RollTitle' prefix=rollTitlePrefix title=title }}</h4>
  <form class="custom-roll-form">
    {{#if (eq type 'attack')}}
     <div class="form-group">
      <label for="attackTarget">{{localize 'SDM.AttackTarget'}}</label>
      <div class="flexrow">
        {{radioBoxes 'attackTarget' attackTargetChoices checked='physical' localize=true}}
      </div>
    </div>
    {{/if}}
    {{#if (eq type 'power_container')}}
     <div class="form-group mt-10">
      <label for="powerIndex">{{localize 'SDM.Power'}}</label>
      <select name="powerIndex" id="powerIndex">
        {{selectOptions powerOptions valueAttr="index" labelAttr="name" selected=powerIndex}}
      </select>
    </div>
    {{/if}}
    {{#if (and (ne type 'ability') (ne type 'save') isCharacterActor)}}
    <div class="form-group mt-10">
      <label for="selectedAbility">{{localize 'SDM.Ability'}}</label>
      <select name="selectedAbility" id="selectedAbility">
        {{selectOptions abilities localize=true
          selected=(ifThen (eq type 'power_container') (lookup (lookup powerOptions @root.powerIndex) 'default_ability') ability) blank=""}}
      </select>
    </div>
    {{/if}}
    {{#if (and (ne type 'save') isCharacterActor)}}
    <div class="form-group mt-10">
      <label for="selectedSkill">{{localize 'SDM.Skill'}}</label>
      <select name="selectedSkill" id="selectedSkill">
        {{selectOptions availableSkills valueAttr="id" labelAttr="label" selected=selectedSkill sort=true blank=""}}
      </select>
    </div>
    {{/if}}
    <div class="form-group mt-10">
      <label for="modifier">{{localize 'SDM.RollModifier' }}</label>
      <input id="modifier" type="text" name="modifier" value="" />
    </div>
    {{#if (eq type 'damage')}}
    <div class="form-group mt-10">
      <label for="multiplier">{{localize 'SDM.RollMultiplier'}}</label>
      <select name="multiplier" id="multiplier">
        {{selectOptions multiplierOptions blank=""}}
      </select>
    </div>
    {{/if}}
    {{#if (ne type 'save')}}
    <div class="form-group mt-10">
      <label for="rollMode">{{localize 'SDM.RollMode'}}</label>
      <select name="rollMode" id="rollMode">
        {{selectOptions rollModes localize=true selected='normal'}}
      </select>
    </div>
    {{/if}}
    {{#if (ne type 'save')}}
    <div class="form-group mt-10">
      <label for="shouldExplode">{{localize "SDM.ExplodingDice"}}</label>
      <input id="shouldExplode" type="checkbox" name="shouldExplode"
        {{#if (and (ne type 'damage') (ne type 'power') (ne type 'power_container'))}}checked{{/if}}
      />
    </div>
    {{/if}}
  </form>
  <br /><br />
</div>
