<div class="custom-roll-modal">
  <h4>{{localize 'SDM.RollTitle' prefix=rollTitlePrefix title=title }}</h4>
  <form class="custom-roll-form">
    {{#if (eq type 'attack')}}
     <div class="form-group">
      <label for="attackTarget">{{localize 'SDM.AttackTarget'}}</label>
      <div class="flexrow">
        {{radioBoxes 'attackTarget' attackTargetChoices checked='physical' localize=true}}
      </div>
    </div>
    {{/if}}
    {{#if (and (ne type 'ability') isCharacterActor)}}
    <div class="form-group">
      <label>{{localize 'SDM.Ability'}}</label>
      <select name="selectedAbility">
        <option value=""></option>
        {{selectOptions abilities localize=true selected=ability}}
      </select>
    </div>
    {{/if}}
    {{#if isCharacterActor}}
    <div class="form-group mt-10">
      <label for="selectedSkill">{{localize 'SDM.Skill'}}</label>
      <select name="selectedSkill" id="selectedSkill">
        <option value=""></option>
        {{selectOptions availableSkills valueAttr="id" labelAttr="label" selected=selectedSkill sort=true}}
      </select>
    </div>
    {{/if}}
    <div class="form-group mt-10">
      <label for="modifier">{{localize 'SDM.RollModifier' }}</label>
      <input id="modifier" type="text" name="modifier" value="" />
    </div>
    {{#if (eq type 'damage')}}
    <div class="form-group mt-10">
      <label for="multiplier">{{localize 'SDM.RollMultiplier'}}</label>
      <select name="multiplier" id="multiplier">
        <option value=""></option>
        {{selectOptions multiplierOptions}}
      </select>
    </div>
    {{/if}}
    <div class="form-group mt-10">
      <label for="rollMode">{{localize 'SDM.RollMode'}}</label>
      <select name="rollMode" id="rollMode">
        {{selectOptions rollModes localize=true selected='normal'}}
      </select>
    </div>
    <div class="form-group mt-10">
      <label for="shouldExplode">{{localize "SDM.ExplodingDice"}}</label>
      <input id="shouldExplode" type="checkbox" name="shouldExplode"
        {{#if (and (ne type 'damage') (ne type 'power'))}}checked{{/if}}
      />
    </div>
  </form>
  <br /><br />
</div>
