<div class='resource'>

</div>

<div class='resource'>
  <label class='resource-label'>
    {{localize 'SDM.PowerLevel'}}
  </label>
  <div class='resource-content'>
    <input type='text' name='system.power.level' value='{{system.power.level}}' data-dtype='Number' />
  </div>
</div>
<div class='resource'>
  <label class='resource-label'>
    {{localize 'SDM.PowerRange'}}
  </label>
  <div class='resource-content'>
    <input type='text' name='system.power.range' value='{{system.power.range}}' />
  </div>
</div>
<div class='resource'>
  <label class='resource-label'>
    {{localize 'SDM.PowerTarget'}}
  </label>
  <div class='resource-content'>
    <input type='text' name='system.power.target' value='{{system.power.target}}' />
  </div>
</div>
<div class='resource'>
  <label class='resource-label'>
    {{localize 'SDM.PowerDuration'}}
  </label>
  <div class='resource-content'>
    <input type='text' name='system.power.duration' value='{{system.power.duration}}' />
  </div>
</div>

<div class='resource'>
  <label class='resource-label'>
    {{localize 'SDM.PowerRollFormula'}}
  </label>
  <div class='resource-content'>
    <input type='text' name='system.power.roll_formula' value='{{system.power.roll_formula}}' />
  </div>
</div>

<div class='resource'>
  {{#if (ne item.parent.type 'npc')}}
    <label class='resource-label'>
      {{localize 'SDM.AbilityModifier'}}
    </label>
    <div class='resource-content'>
      <select name='system.power.default_ability' id='system.power.default_ability'>
        <option value=''></option>
        {{selectOptions abilities localize=true selected=system.power.default_ability}}
      </select>
    </div>
  {{/if}}
</div>

<div class="resource"></div>

<div class='resource'>
  <label class='resource-label'>
    {{localize 'SDM.PowerOverchargeRollFormula'}}
  </label>
  <div class='resource-content'>
    <input type='text' name='system.power.overcharge_roll_formula' value='{{system.power.overcharge_roll_formula}}' />
  </div>
</div>

<div class='resource grid-span-2'>
  <label class='resource-label'>
    {{localize 'SDM.PowerOvercharge'}}
  </label>
  <div class='resource-content grid-span-1 flexcol'>
    <textarea class='flexcol' name='system.power.overcharge' rows='2'>{{system.power.overcharge}}</textarea>
  </div>
</div>

